

body{
  background-color: rgb(0, 0, 0) !important;
  color: #fff !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.transp{
  backdrop-filter: blur(3px) !important;
  background: rgba(225,225,225,0.1) !important;
  color: white !important;
  /* filter: drop-shadow(8px 8px 4px rgb(#ff0000)) !important; */
box-shadow: 8px 8px 8px rgb(#f7b0b0) !important;
}


.input-error{
    border: 1px solid red;
  }

  .myname {
    background: linear-gradient(90deg, #56ccf2, #2f80ed);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 2s linear infinite;
  }
  @keyframes hue {
    0% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
    100% {
      -webkit-filter: hue-rotate(1turn);
      filter: hue-rotate(1turn);
    }
  }


  .mynav{
  
    background-color: #080808 !important;
    box-shadow: 0px 0px 16px 1px rgba(56, 90, 73, 0.75) inset;
    -webkit-box-shadow: 0px 0px 16px 1px rgba(56, 90, 73, 0.75) inset;
    -moz-box-shadow: 0px 0px 16px 1px rgba(56, 90, 73, 0.75) inset !important;
  
    /* width: 100%;
    top:0;
    transition: top 0.3s; */
  }
  
  /* .mynav .navbar-brand .navbar-nav{
    float: left;
    display: block;
    
  } */
  .nav-link{
    color: #fff !important;
  }
  .navbar-brand{
    color: #fff !important;
  }
  #kir{
    font-family:'Great Vibes', cursive !important;
    
  }
  #kiru{
    font-size: 25px;
    color: #ff24a4;
    font-weight: 800;
    
    
  }
  #navBut{
    background-color:#fff;
  }
  nav ul li{
    margin: 10px 20px;
  }
  .navbar-nav{
    padding: 10px 10%;
  }
  .navbar-brand{
    font-size: 25px;
  margin:10px 20px;
  font-weight: 800;
  }
  nav ul li a{
    color: #fff;
    
    position: relative;
  }
  nav ul li a::after{
    content: '';
    width:0%;
    height: 4px;
    border-radius: 1rem;
    background:#ff24a4;
    position: absolute;
    left:0;
    bottom: -3%;
    
  }
  nav ul li a:hover::after{
    width: 95%;
    transition: 0.5s;
  }
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(233, 43, 169); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fa31ad; 
}


.input-error{
  border: 1px solid red;
}